@import "tailwindcss";

/* Works for most modern browsers */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

/* Firefox */
body {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
